<div class="chat-container">
    <div class="main">
        <div class="tabs" ng-class="{show:vm.sidebar == 'rooms'}">
            <i class="fa fa-remove" ng-click="vm.openSide('rooms')"></i>
            <div class="chat-tab">Default</div>
            <div class="chat-tab">Aleš</div>
            <div class="chat-tab messages">Marjan</div>
            <div class="chat-tab active">Branko</div>
        </div>


        <div class="window-container">
            <div class="join-room" ng-class="{show:vm.sidebar=='join'}">
                <i class="fa fa-remove"></i>
                <input type="text" name="" placeholder="Room"> <i class="fa fa-plus"></i>
            </div>
            <div class="chat-wrapper">
                <div class="chat-window">
                    <chat-public current-room="vm.currentRoom" ng-if="vm.currentRoomType == vm.RoomTypes.room"></chat-public>
                    <chat-private current-private-room="vm.currentPrivate" ng-if="vm.currentRoomType == vm.RoomTypes.private"></chat-private>
                    <div class="chat-input">
                        <input type="text" placeholder="Type your message ...">
                        <button type="button" class="button button-primary fa fa-paper-plane" ng-click="vm.test()"></button>
                    </div>


                </div>
                <div class="room-users" ng-class="{show:vm.sidebar=='people'}">
                    <i class="fa fa-remove"></i>
                    <ul>
                        <!--<li>
                            <div class="user active">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="name">
                                    Aleš
                                </div>
                            </div>
                        </li>-->
                        <li ng-repeat="user in vm.current.room.users">
                            <div class="user" ng-class="{active:user.username == vm.current.user.username}">
                                <div class="search"><i class="fa fa-search"></i></div>
                                <div class="name">
                                    {{user.username}}
                                </div>
                            </div>
                        </li>
                        <!--<li>
                            <div class="user">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="name">
                                    Rok
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="name">
                                    Peter
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="name">
                                    Jernej
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="name">
                                    Urban
                                </div>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="actions-collapsed">
        <div class="join-collapsed" ng-click="vm.openSide('join')">
            <i class="fa fa-plus"></i>
        </div>
        <div class="tabs-collapsed" ng-click="vm.openSide('rooms')">
            <!--<i class="fa fa-envelope-o"></i>-->
            <i class="fa fa-envelope"></i>
        </div>
        <div class="people-collapsed" ng-click="vm.openSide('people')">
            <i class="fa fa-users"></i>
        </div>

    </div>
</div>
