<div class="chat-container">
    <div class="main">
        <div class="tabs" ng-class="{show:vm.sidebar == 'rooms'}">
            <i class="fa fa-remove" ng-click="vm.openSide('rooms')"></i>
            <!--<div class="chat-tab messages">Marjan</div>
            <div class="chat-tab active">Branko</div>-->
            <div ng-repeat="tab in vm.rooms" class="chat-tab" ng-class="{'active':tab.name == vm.current.room.name}" ng-click="vm.selectRoom(tab)">

                    {{tab.name}}
                    <i class="fa fa-times" ng-click="vm.leaveRoom(tab)"></i>

            </div>
        </div>


        <div class="window-container">
            <div class="join-room" ng-class="{show:vm.sidebar=='join'}">
                <i class="fa fa-remove"></i>
                <input type="text" name="" placeholder="Room" ng-model="vm.roomName"> <i class="fa fa-plus" ng-click="vm.joinRoom()"></i>
            </div>
            <div class="chat-wrapper">
                <div class="chat-window">
                    <chat-public current-room="vm.current.room" ng-if="vm.currentRoomType == vm.RoomTypes.room"></chat-public>
                    <chat-private current-private-room="vm.current.private" ng-if="vm.currentRoomType == vm.RoomTypes.private"></chat-private>
                    <div class="chat-input">
                        <input type="text" placeholder="Type your message ..." ng-model="vm.input">
                        <button type="button" class="button button-primary fa fa-paper-plane" ng-click="vm.sendMessage()"></button>
                    </div>


                </div>
                <div class="room-users" ng-class="{show:vm.sidebar=='people'}">
                    <i class="fa fa-remove"></i>
                    <ul>
                        <li ng-repeat="user in vm.current.room.users">
                            <div class="user" ng-class="{active:user.username == vm.current.user.username}">
                                <div class="search"><i class="fa fa-search"></i></div>
                                <div class="name">
                                    {{user.username}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="actions-collapsed">
        <div class="join-collapsed" ng-click="vm.openSide('join')">
            <i class="fa fa-plus"></i>
        </div>
        <div class="tabs-collapsed" ng-click="vm.openSide('rooms')">
            <!--<i class="fa fa-envelope-o"></i>-->
            <i class="fa fa-envelope"></i>
        </div>
        <div class="people-collapsed" ng-click="vm.openSide('people')">
            <i class="fa fa-users"></i>
        </div>

    </div>
</div>
