@import "../../node_modules/skeleton-sass/skeleton.scss";


body{
    height:100vh;
    width:100vw;

}

div[ui-view]{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

//import auth styles 
@import "./auth/_auth.scss";