// register wrapper styles
.register-wrapper{
    display:flex;
    width:300px;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    border:2px solid $yellow-theme;
    padding:40px 40px 5px 40px;
    border-radius:5px;
    background-color:white;

    input{
        text-align: center;
    }

}