<div class="navbar">

    <h3> firebase_playground </h3>
    <div class="actions">
        <span>AB</span>
        <ul>
            <li class="fa fa-pencil"></li>
            <li class="fa fa-sign-out" ng-click="vm.signOut()"></li>
        </ul>
    </div>
    <div class="actions-collapsed">
        <i class="fa fa-bars" ng-click="vm.showCollapsed = !vm.showCollapsed"></i>
        <div class="collapsed-selection" ng-class="{show:vm.showCollapsed}">
            <ul>
                <li>Edit</li>
                <li ng-click="vm.signOut()">Logout</li>
            </ul>
        </div>
    </div>


</div>
<div class="navbar-links">
    <ul>
        <li>Chat</li>
        <li>Photos</li>
    </ul>
</div>
<div class="main-container">
    <div ui-view></div>
</div>