<div class="private-room-messages">
    <ul>
        <li>
            <div class="message-container">
                <div class="picture-container" >
                    <div class="rounded-container">

                    </div>
                </div>
                <div class="body-container">
                    <div class="username">
                        ljiech
                    </div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut sollicitudin erat, quis aliquet tortor. Quisque a fermentum odio. Integer volutpat, magna et pulvinar molestie, justo nunc cursus elit, vel dictum massa odio at lorem. Curabitur laoreet in nulla ut elementum. Fusce rhoncus quis dui id aliquet.
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="message-container">
                <div class="picture-container" >
                    <div class="rounded-container">

                    </div>
                </div>
                <div class="body-container">
                    <div class="username">
                        ljiech
                    </div>
                    <div class="message">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>