<div class="private-room-messages">
    <ul>
        <li ng-repeat="message in vm.currentPrivateRoom.messages">
            <div class="message-container">
                <div class="picture-container" >
                    <div back-img="message.profile.photo" class="rounded-container">

                    </div>
                </div>
                <div class="body-container">
                    <div class="username">
                        {{message.profile.username}}
                    </div>
                    <div class="message">
                        {{message.message}}
                    </div>
                </div>
            </div>
        </li>
        <!--<li>
            <div class="message-container">
                <div class="picture-container" >
                    <div class="rounded-container">

                    </div>
                </div>
                <div class="body-container">
                    <div class="username">
                        ljiech
                    </div>
                    <div class="message">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>
            </div>
        </li>-->
    </ul>
</div>