<div class="firebase-photo-wrapper">
    <div class="close-action">
        <i class="fa fa-close" ng-click="vm.CloseWindow()"></i>
    </div>
    <div class="existing-photos" ng-if="vm.profilePhotos.length>0">
        <h6>
            existing photos
        </h6>

        <ul>
            <li ng-repeat="photo in vm.profilePhotos">
                <div class="existing-photo">
                    <div class="img-container">
                        <img ng-src="{{photo.url}}" alt="">
                    </div>
                    <div class="img-select">
                        <button type="button" class="button button-primary fa fa-check" ng-click="vm.SelectPhoto(photo)"></button>
                        <button type="button" class="button button-primary fa fa-remove" ng-click="vm.RemovePhoto(photo)"></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="upload-new" >
        <h6 ng-class="{'bot-margin-20':vm.Photo == null}">
            upload more
        </h6>
        <div class="preview-photo-container" ng-if="vm.Photo != null && vm.uploading == false">
            <img ng-src="{{vm.previewSrc}}" alt="New photo">
        </div>
        <ab-spinner ng-show="vm.uploading"></ab-spinner>
        <label class="button button-primary" ng-hide="vm.Photo != null">
            <i class="fa fa-photo"></i>
            <input ng-model="vm.Photo" ab-photo-upload ab-img-preview="vm.previewSrc" id="uploadBtn" hidden type="file">
        </label>
        <div class="photo-actions" ng-if="vm.Photo != null && vm.uploading == false">
            <button type="button" class="button button-primary" ng-click="vm.UploadPhoto()"><i class="fa fa-plus"></i></button>
            <button type="button" class="button" ng-click="vm.Photo = null"><i class="fa fa-remove"></i></button>
        </div>
    </div>

</div>