<div class="profile-wrapper">
    <div class="profile-picture">
        <div class="rounded-container">

        </div>
    </div>
    <div class="profile-info">
        <ul>
            <li>
                <div class="info-container">
                    <h6>name</h6>
                    <div class="content">
                        <span ng-hide="vm.editFlag">{{vm.EditProfile.name | nullFilter }}</span>
                        <input type="text" ng-model="vm.EditProfile.name" ng-if="vm.editFlag">
                    </div>

                </div>
            </li>
            <li>
                <div class="info-container">
                    <h6>lastname</h6>
                    <div class="content">
                         <span ng-hide="vm.editFlag">{{vm.EditProfile.lastname | nullFilter }}</span>
                        <input type="text" ng-model="vm.EditProfile.lastname" ng-if="vm.editFlag">
                    </div>

                </div>
            </li>
            <li>
                <div class="info-container">
                    <h6>username</h6>
                    <div class="content">
                        <span ng-hide="vm.editFlag">{{vm.EditProfile.username | nullFilter}}</span>
                        <input type="text" ng-model="vm.EditProfile.username" ng-if="vm.editFlag">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="profile-actions">

        <i class="fa fa-file" ng-click="vm.selectProfilePhoto()"></i>
        <i class="fa fa-pencil" ng-click="vm.editFlag = !vm.editFlag"></i>
        <i class="fa fa-check"></i>
        <i class="fa fa-remove"></i>
    </div>
</div>
<firebase-photo ng-if="vm.selectPhoto"></firebase-photo>