<div class="room-messages">
    <ul>
        <li ng-repeat="message in vm.currentRoom.messages" >
            <div class="message-container">
                <div class="username">
                    {{message.profile.username}}
                </div>
                <div class="message">
                    {{message.message}}
                </div>
            </div>
        </li>
        <!--<li>
            <div class="message-container">
                <div class="username">
                    ljiech
                </div>
                <div class="message">
                    Aliquam placerat faucibus massa.
                </div>
            </div>
        </li>-->
    </ul>
</div>