<div class="room-messages">
    <ul>
        <li>
            <div class="message-container">
                <div class="username">
                    ljiech
                </div>
                <div class="message">
                    Aliquam placerat faucibus massa, vel dignissim enim blandit id. Vestibulum vel rhoncus sem. Nullam luctus dictum lacus in sodales. Nunc finibus felis sed purus tempus, et pellentesque nunc sollicitudin. Quisque hendrerit, sapien ut convallis ultricies, odio neque rutrum sapien, ornare ultrices diam neque in mauris. Praesent id hendrerit risus. Duis orci sem, efficitur sed dictum ut, sagittis et diam. Integer volutpat rhoncus orci, at fringilla quam ultrices
                </div>
            </div>
        </li>
        <li>
            <div class="message-container">
                <div class="username">
                    ljiech
                </div>
                <div class="message">
                    Aliquam placerat faucibus massa.
                </div>
            </div>
        </li>
    </ul>
</div>