chat-main{
    max-width: 100%;
    width:100%;
}
.chat-container{

    display:flex;
    align-items: stretch;

    .main{

        flex:1;

        //for test / development
        width:100%;


        // border
        border:2px solid $black-theme;
        box-shadow: 0px 0px 0px 2px $yellow-theme;

        //bg color:
        background-color: white;


        //flexed and centered
        @include flex-container-centered-column();

        .tabs{
            //display
            @include flex-container-centered-row();
            justify-content: flex-start;
            flex-wrap: wrap;
            width:100%;
            position:relative;



            //bg color
            background-color:$black-theme;

            &.show{
                display:flex !important;
            }

            i.fa-remove{
                display:none;
                position:absolute;
                top:10px;
                right:10px;
                color:$gray-dark;
                cursor: pointer;

                &.show{
                    display:none;
                }

                &:hover{
                    color:$gray-light;
                }
            }

            .chat-tab{
                padding:10px 20px;
                color:white;
                cursor: pointer;

                &.messages{
                    color:$yellow-theme;
                }
                &.messages:hover,&:hover,&.active{
                    background-color:$yellow-theme;
                    color:$black-theme;
                }
            }

        }

        // window container
        .window-container{

            //expand wrapper
            flex:1;

            //stretch width
            align-self: stretch;

            //join room top container
            .join-room{

                //relative so close is absolute top
                position:relative;

                //display flex for content
                display:flex;
                justify-content: flex-start;
                align-items: center;

                //width 100%;
                width:100%;

                //padding
                padding:20px 20px 20px 20px;

                //bg color
                background-color:$black-theme;

                //input styles for add room
                input{
                    //margin
                    margin-bottom:0px;
                    margin-right:20px;

                    //bg
                    background-color:$black-theme;

                    //color
                    color:white;

                    //border
                    border:none;
                    border-radius:0px;
                    border-bottom:1px solid $gray-dark;

                    //font size
                    font-size:0.9em;

                }
                //styles for plus sign
                i{
                    //padding margin
                    margin-right:5px;
                    padding:10px;

                    //color
                    color:$yellow-theme;

                    //cursor
                    cursor:pointer;
                }

                //remove sign styles
                i.fa-remove{

                    //none on default screen
                    display:none;

                    //absolute and top right
                    position:absolute;
                    right:0px;
                    top:0px;

                    //color
                    color:$gray-dark;

                    //cursor
                    cursor:pointer;

                    //hover
                    &:hover{
                        color:$gray-light;
                    }
                }

            }

            //main chat wrapper with windows and user list
            .chat-wrapper{
                //min height
                min-height: 400px;
                @include flex-container-centered-row();
                //stretch items
                align-items: stretch;

                position:relative;

                //chat window - container for components
                .chat-window{

                    //takes existing space
                    flex:1;

                    //min width
                    //min-width: 400px;

                    //display flex so it can be separate into
                    //main container and input container
                    display:flex;
                    flex-direction: column;
                    align-items: stretch;

                    //input container
                    .chat-input{
                        //flex so it can be separate into input and submit btn
                        @include flex-container-centered-row();

                        //padding
                        padding:20px 20px 10px 20px;

                        //bg
                        background-color:$black-theme;

                        //border top
                        border-top:1px solid $gray-dark;

                        //input styles
                        input{
                            min-width: 50px;
                            //margings
                            margin-bottom:10px;
                            margin-right:20px;

                            //bg color
                            background-color:$black-theme;

                            //takes existing space
                            flex:1;

                            //border
                            border:none;
                            border-radius: 0px;
                            border-bottom: 1px solid $gray-dark;

                            //color
                            color:white;

                        }

                        button{
                            padding:10px 30px;
                            &:active{
                                transform: scale(0.95);
                            }

                        }
                    }

                    //main container for components
                    div[ui-view]{
                        flex:1;
                        background-color:$gray-lightest;
                    }
                }

                //room users
                .room-users{

                    //bg
                    background-color:$black-theme;

                    //border
                    border:1px solid $gray-dark;
                    border-right-color: transparent;
                    border-bottom-color: transparent;

                    //display / size
                    min-width: 200px;
                    padding:20px;

                    //remove sign styles
                    i.fa-remove{

                        //hidden on big screen
                        display:none;

                        //absolute and top right
                        position:absolute;
                        right:0px;
                        top:0px;

                        padding-top:20px;
                        padding-right:20px;

                        //color
                        color:$gray-dark;

                        //cursor
                        cursor:pointer;

                        //hover
                        &:hover{
                            color:$gray-light;
                        }
                    }

                    //list of users
                    ul{
                        //no lists tyle
                        list-style-type: none;
                        margin-top:20px;

                        //every user
                        li{
                            //extra margin
                            margin-bottom: 10px;

                            //default font color
                            color:$gray-dark;

                            //user
                            .user{
                                //user data container
                                display:flex;
                                align-items: center;
                                width:100%;

                                //both child styles
                                div{
                                    //extra padding
                                    padding-left:10px;
                                    padding-right:10px;

                                    //cursor
                                    cursor: pointer;

                                    //on hover
                                    &:hover{
                                        color:$gray-light;
                                    }
                                }


                                //name styles
                                .name{
                                    //take remaining space
                                    flex:1
                                }

                                //current logged user styles
                                &.active{
                                    color:$yellow-theme;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }

            }

        }
    }


    // --- private chat window styles --- //
    @import "./_private.scss";


    // --- public chat window styles --- //
    @import "./_public.scss";


    .actions-collapsed
    {
        display:none;

        align-self: flex-start;

        .tabs-collapsed, .join-collapsed, .people-collapsed{


            //bigger
            padding:10px 20px;

            margin-top:10px;

            border:2px solid $yellow-theme;

            box-sizing: border-box;

            //bg and color
            background-color:$black-theme;
            color:white;

            //cursor
            cursor: pointer;



            //on hover style
            &:hover{
                color:$black-theme;
                background-color:$yellow-theme;
            }



        }
        .tabs-collapsed{
            //when new msg
            &.messages{
                color:$yellow-theme;
            }
            &.messages:hover{
                color:$black-theme;
                background-color:$yellow-theme;
            }
        }
    }

}


@media(max-width:700px){
    .chat-container{
        .main{
            .tabs{
                display:none;
                padding:30px 10px 20px 10px;
                .chat-tab{
                    padding:0px 10px;
                    margin-top:5px;
                    font-size:0.9em;
                }
                //show close on small screens
                i.fa-remove{
                   display:block !important;
                }

            }
            .window-container{
                .join-room{
                    display:none;
                    &.show{
                        display:flex;
                    }
                    i.fa-remove{
                        display:block !important;
                    }
                }
                .chat-wrapper{
                    min-height: 400px;
                    .chat-window{
                        .chat-input{
                            input{
                                margin-right:10px;
                                font-size:0.9em;

                            }
                            button{
                                padding:5px 10px;
                            }
                        }
                    }
                    .room-users{
                        display:none;
                        position:absolute;
                        top:0px;
                        right:0px;
                        height:100%;
                        border-top-color: transparent;
                        &.show{
                            display:flex !important;
                        }
                        i.fa-remove{
                            display:block !important;
                        }
                    }

                }
            }
        }
        .actions-collapsed{
            display:block;
        }

    }
}
