<div class="user-wrapper">
    <div class="profile-username">
        {{vm.currentuser.username}}
    </div>
    <div class="profile-details">
        <div class="profile-picture">
            <img ng-src="{{vm.currentuser.photo}}" alt="wow">
        </div>
        <div class="profile-info">
            <dl>
                <dt ng-if="vm.currentuser.name">Name</dt>
                <dd ng-if="vm.currentuser.name">{{vm.currentuser.name}}</dd>
                <dt ng-if="vm.currentuser.lastname">Lastname</dt>
                <dd ng-if="vm.currentuser.lastname">{{vm.currentuser.lastname}}</dd>
            </dl>
        </div>
    </div>
</div>