<div class="user-wrapper">
    <div class="profile-username">
        ljiech
    </div>
    <div class="profile-details">
        <div class="profile-picture">
            <img src="http://images.fineartamerica.com/images-medium/random-photography-talent-awesome-vijay-patel.jpg" alt="wow">
        </div>
        <div class="profile-info">
            <dl>
                <dt>Name</dt>
                <dd>Aleš</dd>
                <dt>Lastname</dt>
                <dd>Brelih</dd>
            </dl>
        </div>
    </div>
</div>